[Unit]
Description=A service reading commands from the given socket

[Service]
Type=oneshot
ExecStart=/usr/bin/perl /root/commander.pl

StandardInput=socket
StandardOutput=journal 

User=root
Group=root

Restart=no

[Install]
WantedBy=multi-user.target