[Unit]
Description=A service reading commands from the given socket

[Service]
ExecStart=/usr/bin/perl /root/commander.pl

WorkingDirectory=/home/lenny/temp/systemdStuff

StandardInput=socket

User=root
Group=root

Restart=no

[Install]
WantedBy=multi-user.target